body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  text-align:center;
  overflow-x:hidden;
}
img.inline.right {
    float: right;
    display: inline-block;
    width: 170px;
    margin-top: -65px;
    margin-bottom: -30px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-group {
    margin-bottom:6px;
}
.form-group .error {
    font-style:italic;
    color:red;
    font-size:11px;
    padding-top:8px;
    text-align:left;    
}
.form-signin .btn {
    margin-top:20px;
}
.form-control[readonly] {
    cursor: default;
    background-color: #FFF;
}
h5 {
    line-height: 20px;
    margin-top:12px;
}
h5 span {
    color:#006dcc;
}
.flash-message{
    padding:15px 0;
    border: 1px solid #E9E2C0;
    border-radius: 4px;
    margin-bottom:25px;
}
.col-lg-offset-4 p {
    margin-bottom:3px;
}
.nav > li.inline {
    display: inline-flex;
    background-color: #666!important;
}
.nav > li.inline a {
    color: #fff;
}
.nav > li.inline a:hover {
 color: #666;   
    
}
.left.boxes.block {
    float: left;
    display: inline-block;
    margin-top:20px;
}

.left li.block {

    width: 120px;
    height: 60px;
    vertical-align: baseline;
    border: 1px solid;
    margin-bottom: 10px;
    display: block;
    padding: 20px 20px 65px;

}
.left.boxes.block {

    float: left;
    display: inline-block;
    min-width: 120px;
    text-align: center;
    list-style: none;
    margin-left: 110px;
    margin-top: 65px;

}
.container2 {
    width: 80%;
    margin: 0 auto;
}
img[src="//chilltechproducts.com/uploads/1/2/2/7/122787378/02_1_orig.png"] {
    margin-bottom: -130px;
}
img[src="//chilltechproducts.com/uploads/1/2/2/7/122787378/published/system-icon.png?1541069607"] {

    display: none;

}
.avatar_box {
    float: right;
    position: relative;
    left: 15px;
    top: -48px;
    width: 100px;
    height: 100px;
    font-size: 11px;
    overflow-y: hidden;
}
.avatar_box img {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    border: 1px solid #666;

}
.left li.block {
    width: 100%;
    height: 60px;
    vertical-align: baseline;
    border: 1px solid;
    margin-bottom: 10px;
    display: block;
    padding: 20px;
}
.right.content_box {

    display: inline-block;
    border: 1px solid;
    width: 75%;
    margin-left: 20px;
    min-height: 500px;
    margin-top: -47px;
    clear: right;
    float: right;

}
p {

    margin: 0 0 10px;
    display: block;
    float: none;
    clear: both;

}
.inline.dropdown {
    position: relative;
}
.dropdown-menu {
    background-color: #666;
    padding: 5px;
}
.dropdown-item {
    padding: 10px 5px;
    line-height: 20px;
    margin-top: 0px;
    display: block;
    border-bottom: 1px solid;
}
.inline.dropdown.open a {
    background-color: #666 !important;
}
.form-control[type="text"] {
   
    font-size: 19px !important;
    line-height: 25px !important;
    padding: 10px 5px 5px !important;
}
.dropdown p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
    border-bottom: 1px solid #fff !important;
    display: block;
    width: 100%;
    padding: 5px 5px 2px;
    background-color: #ededed;
    color: #666;
}
.inline.dropdown.open a:hover {
    color: #fff;
}
#content_box .col-lg-4.col-lg-offset-4 {
    width: 100%;
    margin-left: 0px;
}
#registration_form {
    width: 100%;
}
.form-group label {
    float: left;
    clear: none;
    width: 25%;
    text-align: left;
    display: inline-block;
    max-width: unset;
    height: 35px;
    font-size: 18px;
    vertical-align: bottom;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 10px;
}

#content_box .hundred {
    width: 97%;
    list-style: none;
    text-align: left;
    padding: 5px;
    background-color: #666;
    margin: 0px 13px;
    height: auto;
    display: table;
    min-height: 100%;
    position: unset;
}
.button.login {
    background-color: cadetblue;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 3px 3px 3px #666;
}
.row.even {
    background-color: #eeeeee;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 5px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        vertical-align:top;
}
.row span {
    vertical-align: top;
}
.row.odd {
    background-color: #c2c2c2c2;
}
.name.inline {
    width: 165px;
    display: inline-block;
    word-wrap: break-word;
    font-weight: bold;
}
.name.email {
    width: 150px;
    display: inline-block;
    word-wrap: break-word;
}
.inline.status {
    width: 100px;
    display: inline-block;
    margin-left: 30px;
}
.inline.buttons .fa {
    color: #ededed;
    font-size: 23px;
    margin-right: 5px;
    background-color: #666;
    width: 26px;
    text-align: center;
    padding: 4px;
    width: 32px;
    border-radius: 4px;
    border: 1px solid #ededed;
    box-shadow: 2px 2px 2px #666;
    cursor: pointer;
}
select.form-control {
    float: right;
    clear: right;
    width: 70%;
    display: table;
}
.form-group {
    margin-bottom: 11px;
    display: block !important;
    clear: both;
    height: 50px;
}
input[type="file"] {

    height: 30px;
    *margin-top: 4px;
    line-height: 30px;
    float: right;

}
.form-group label span {
    color: red;
    font-size: 10px;
    float: right;
    margin-right: 10px;
}
#content_box .form-control[type="text"] {
    font-size: 19px !important;
    line-height: 25px !important;
    padding: 10px 5px 5px !important;
    height: 33px;
    width: 70%;
}
.ui-autocomplete {

    text-align: left;

}
.ui-autocomplete li {
    font-size: 16px;
    border-bottom: 1px solid #666;
    font-weight: bold;
    padding: 5px 0px;
    text-indent: 20px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {

    width: 100%;
    height: 41px;

}
#logo-uploader {

    width: 150px;
    float: right;
    
    font-size: 9px !important;

}
.qq-upload-drop-area span {

    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 12px;
    color: #fff;

}
.qq-upload-drop-area, .qq-upload-extra-drop-area {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    z-index: 2;
    background: #666;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px #666;

}
#avatar-uploader {

    width: 150px;
    float: right;

}
#preview-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #666;
    padding: 5px;
    float: right;
    position: relative;
    top: -5px;
}
#preview-logo img {

    width: 120px;
    height: auto;
    float: right;
    border: 1px solid #666;
    padding: 5px;
    margin-left: -20px;

}
.nav {

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    margin-top: 20px;

}
#content_box h2 {

    background-color: #666;
    color: #fff;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 30px;

}
#registration_form {

    margin-left: 15px;

}
#part_warranty_text {

    width: 70%;
    float: right;
    margin-bottom: 20px;

}
.cke_inner {

    display: block;
    background: #fff;
    padding: 0;
    -webkit-touch-callout: none;
    width: 70%;
    float: right;
    border: 1px solid !important;
    margin-bottom: 20px;

}
#cke_part_warranty_text {

    border: unset!important;

}
.parts .name.inline {
    width: 65%;
    display: inline-block;
    word-wrap: break-word;
    font-weight: bold;
    border-right: 1px solid #666;
    margin-right: 36px;
    padding-right: 10px;
    font-size: 13px;
}
.parts .name.inline i {
    font-weight: normal;
}
#id_submit_form {

    margin-bottom: 20px;

}
#registration_form.search_parts {
    height: 100px;
    display: table;
    border: 1px solid;
    min-height: 100px;
}
#content_box .hundred {
    width: 95%;
    list-style: none;
    text-align: left;
    padding: 5px;
    background-color: #666;
    margin: 0px 25px;
    height: auto;
    display: table;
    min-height: 100%;
    position: unset;
}
.ajax {
    margin-top: 19px;
    display: block;
}
.ajax .button {
    float: right;
    margin-top: 10px;
    color: #fff;
    background-color: #666;
    padding: 5px;
    line-height: 21px;
    border-radius: 4px;
}
.service_entry.block.hunderd {
    background-color: #fff;
    border-bottom: 2px #666 solid !important;
    padding: 5px;
}
.qrcode img {
    width: 220px !important;
}
#content_box #email_form .form-control[type="text"] {
   
    height: 40px;
    width: 100%;
}
.parts .service_entry .fa.fa-eye {
    float: right;
    font-size: 24px;
    color: #fff;
    background-color: #666;
    padding: 4px;
    border-radius: 4px;
    margin-top: -18px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #666;
}
#diagnostics_form {
    margin: 10px 10px 10px 35px;
    border: 4px solid #666;
    padding: 10px;
}
#service_entry_box label {

    display: block;
    width: 100%;

}
#diagnostics_form {
    margin: 10px 10px 10px 35px;
    border: 4px solid #666;
    padding: 10px;
    height: auto;
    display: block;
    min-height: 314px;
}
.show_diagnostic_data {

    background-color: #fff !important;
    color: #666 !important;

}
.hundred.block.diag_header {

    margin-left: 0px !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    color: #fff;
    font-weight: bold;
    background-color: #fff !important;
    padding: 10px !important;

}
.hundred.block.diag_header li {

    width: 32% !important;
    display: inline-flex;
    border-right: 1px solid;
    margin-right: 2px;
    background-color: #666;
    padding: 5px;

}
.show_diagnostic_data .right.inline {

    width: 130px;

}
.show_diagnostic_data select {

    width: 125px;
    height: 20px;
    margin-top: -8px;

}
.show_diagnostic_data .left {

    width: 135px;

}
.right.block.clear.fa.fa-save {
    float: right;
    font-size: 25px;
    color: #fff;
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #666;
    cursor:pointer;
}
.right.block.clear.fa.fa-plus {

    float: right;
    font-size: 25px;
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 2px 2px #666;
    border: 1px solid #fff;
    margin-right: 5px;
cursor:pointer;
}
#service_performed {

    height: 120px;

}
#diagnostics_form {
    margin: 10px 10px 10px 35px;
        margin-left: 35px;
    border: 4px solid #666;
    padding: 10px;
    height: auto;
    display: block;
    min-height: 314px;
    background-color: #fff;
    width: 100%;
    margin-left: 0px;
}
#service_performed {
    height: 90px;
}
#diagnostics_form input[type="submit"] {
    display: block;
    position: relative;
    top: 75px;
    margin-bottom: 50px;
    float: right;
}
.slick-prev.slick-arrow {
    top: 25%;
    position: absolute;
    z-index: 100;
    left: 0px;
    background-color: burlywood;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
.slick-next.slick-arrow {
    position: absolute;
    right: 0px;
    top: 25%;
    background-color: burlywood;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80px;
}
.ui-menu .left.avatar {
    float: left;
    width: 45px;
    height: auto;
    border-radius: 50%;
}
.ui-menu .left.avatar {
    float: left;
    width: 45px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}
.slick-dots {
    float: right;
    list-style: none;
    position: absolute;
    top: 72%;
    right: 0px;
}
.slick-dots li {
    display: inline-flex;
    margin-right: 2px;
    background-color: cadetblue;
}
.slick-dots li button {
    background-color: burlywood;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
#modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
   
}
#alertBox {
  background-color: #fff;
  background-position: 20px 30px;
  background-repeat: no-repeat;
  border: 1px solid #666;
  margin-top: 50px;
  min-height: 100px;
  position: relative;
  width: 300px;
  height: auto;
}
#modalContainer > #alertBox {
  position: fixed;
  top: 10%;
  border-radius: 6px;
}

#alertBox h1 {
    background-color: #9d1830;
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, #9d1830 35%, rgba(124, 16, 36, 0.9) 65%, #9d1830 100%) repeat scroll 0 0 !important;
    border-bottom: 1px solid #000;
    color: #fff;
    font: bold 1.2em verdana,arial;
        line-height: normal;
    height: 30px;
    padding: 16px 0 2px 5px;
    text-align: center;
    vertical-align: top;
    margin-top: 0px;
    border-radius: 5px 5px 0px 0px;
    line-height: 0px;
}

.right.line-chart {
    max-width: 200px !important;
    float: right;
}
.right.line-chart .canvasjs-chart-container > .canvasjs-chart-canvas {
    width: 265px;
    position: relative !important;
   
    
    display: table;
    border: 1px solid #666;
}
.right.line-chart .canvasjs-chart-container > .canvasjs-chart-canvas:nth-child(2) {
    display: none;
}
.right.line-chart > div {

    display: none;
    position: relative;
    top: -200px;
    left: -65px;
    margin-bottom: -170px;

}
.right.line-chart > div:first-child {
    display: block;
}
.right.line-chart .fa.fa-arrow-right {

    float: right;
    position: relative;
    font-size: 30px;
    margin-bottom: -59px;
    margin-top: -30px;

}
.qrcode .fa.fa-print {

    font-size: 25px;
    float: right;
    position: relative;
    top: -85px;
    color: #fff;
    margin-right: 25px;
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #666;
    cursor: pointer;

}
#serial_number, #part_name {

    max-width: 50% !important;
    float: left;

}
.right.inline.qrcode {

    margin-bottom: 20px;
    left: -10px;
    position: relative;

}
#image_uploader {

    display: block;
    height: auto;
    min-height: 100px;

}
#part_photos {

    min-height: 100px;
    width: 100%;
    display: table;
    list-style: none;

}
.thumb {

    width: 100px;
    height: 100px;
    display: inline-block;

}
#image-uploader {

    display: ;

}
#part_photos .thumbnail {

    display: inline-block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 135px;
    float: left;
    height: auto;
    min-height: 123px;
    vertical-align: middle;

}
.thumbnail.button {

    background-color: transparent !important;
    border: 0px none !important;
    transition: unset !important;

}
.thumbnail .fa.fa-close {

    float: right;
    color: #fff;
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #666;
    z-index: 10;
    position: relative;
    margin-bottom: -15px;

}
.canvasjs-chart-credit {
    display: none;
    top: 0px !important;
}
#alertBox p {
  font: 1.0em verdana,arial;
  min-height: 50px;
  height: auto;
  margin-left: auto;
  padding-left: 5px;
  margin-right: auto!important;
  text-align: center;
  margin-bottom:30px;
  font-weight: bold;
}

#alertBox #closeBtn {
  background-color: #9d1830;
  background: rgba(0, 0, 0, 0) linear-gradient(180deg, #9d1830 35%, rgba(124, 16, 36, 0.9) 65%, #9d1830 100%) repeat scroll 0 0 !important;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  display: block;
  float: right;
  font: 1.0em verdana,arial;
  margin: 5px 10px 5px auto;
  padding: 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 70px;
}
img.inline.right.qrcode {

    float: right;
    display: inline-block;
    width: 170px;
    margin-top: -17px;
    margin-bottom: -58px !important;

}
#id_submit_form {
    margin-bottom: 50px;
    top: 20px;
    position: relative;
    width: 95%;
}
.error {
    position: relative;
    top: -15px;
}
#registration_form.search_parts {
    margin-left: 5px;
}
#registration_form.search_parts {

    margin-left: 5px;
    background-color: #c2c2c2;
    border: 5px solid #666 !important;

}
#registration_form.search_parts .form-group {

    display: inline-block !important;
    width: 30%;
    margin-left: 10px;

}
#registration_form.search_parts .form-group label {

    display: block;
    clear: both;
    float: none;
    width: 100%;
    font-size: 12px;
    margin-bottom: -7px;

}
#registration_form.search_parts .form-group input {
    width: 100% !important;
    display: block;
    float: none;
    clear: both;
    max-width: unset !important;
    font-size: 13px !important;
    height: 25px;
}
#registration_form.search_parts .form-group input.btn.btn-lg.btn-primary.btn-block {

    font-size: 20px !important;
    height: 42px;

}
#location_id, #part_id, #dealer_id, #customer_id, #manufacturer_id {

    display: none !important;

}
.formlist > div {
    width: 50%;
    float: left;
    display: inline-flex;
    vertical-align: baseline;
}
.formlist > div:last-child {
    clear: both;
    width: 100%;
}
.formlist > div:last-child div.wsite-form-field {

    width: 100%;
    max-width: unset !important;

}
.formlist > div:last-child div.wsite-form-field .wsite-form-input-container {
    width: 100%;
}
.wsite-form-field div.wsite-form-input-container .wsite-input-width-370px {
    max-width: unset;
}
.wsite-section.wsite-header-section.wsite-section-bg-color, .alert-success {
    width: 70% !important;
    display: table;
    margin: 10px auto;
    background-color: rgba(99, 176, 235, 0.15) !important;
    border-width: 1px 1px 1px 1px;
    border-color: #c2c2c2;
    border-style: solid;
}
.banner-wrap .banner h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 58px;
    font-weight: 300;
    line-height: normal;
    text-shadow: 2px 2px 2px #666;
}
.wsite-section-elements form {

    position: relative;
    top: -55px;

}
.banner-wrap .banner div.paragraph {
    padding: 10px 0 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px #666;
}
.wsite-form-field div.wsite-form-input-container .wsite-input-width-370px {

    max-width: unset !important;
    border-color: #c2c2c2 !important;
    background-color: #ffffee !important;
    display: block;
    border-radius:5px;
    min-width: 100%;
}
.left.boxes.block {

    display: none;

}
#content_box {
background-color:#fff;
}
.loading {
    margin: 20% auto 0;
    width:150px;
}
.btn.dropdown-toggle {

    background-color: transparent;
    background-image: url(/public/images/arrow.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-top: 9px;
    background-position: top center;

}
.nav > li.inline.open, .nav > li.inline.open > a {

    background-color: blue !important;

}
.nav > li.inline.open > li, .nav > li.inline.open > li a {
     color: #ffffee
    
} 
.open .btn.dropdown-toggle {
    background-image: url(/public/images/arrow-down.png);
    
}
.dealer_details .right {
    float: right;
    width: 210px;
}
.dealer_details p.left {
    text-align: left;
    float: left;
    display: inline-block;
    position: relative;
    top: -50px;
}
.row.block.hundred.client_details {
    display: inline-block!important;
    width: 30%!important;
    float: left!important;
    text-align: left;
    background-color: #fff !important;
}
.row.block.hundred.client_details span {
    color:#fff;
    background-color: #666;
}
.row.block.hundred.location_details {
    display: inline-block;
    width: 30%!important;
    float: right!important;
    text-align: left;
}
.row.block.hundred.location_details span {
    color:#fff;
    background-color: #666;
}
.row.block.hundred.location_details {
    clear: right;
    float: right;
    display: inline-block;
    background-color: #fff !important;
    width: 30%;
    height: 100px;
}
.row.block.hundred.client_details span, .row.block.hundred.location_details span {
    color: #fff;
    background-color: #666;
    width: 100%;
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.row.block.hundred.dealer_details {

    background-color: #fff !important;
    margin: 20px auto !important;
    border: 1px solid;
    padding: 5px 10px !important;

}
.proposal_date {

    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: ;

}
#warranty_info {

    border: 1px solid #666;
    display: block;
    height: auto;
    text-align: left;
    padding: 10px;
    width: 95%;
}
#warranty_info p:last-child {

    font-weight: bold;
    text-align: center;
    font-size: 18px;

}
#company_warranty {

    border: 1px dotted #c2c2c2;
    margin-bottom: 20px;
    margin-top: 10px;

}
#parts_info .inline {
    width: 30%;
    display: inline-block;
}
#parts_info > div .form-control, #labor_info > div .form-control {

    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 3px;

}
p.btn.btn-lg.btn-primary.btn-block {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#parts_info, #labor_info {

    display: table !important;
    height: auto;
    width: 95%;

}
#parts_info h2, #labor_info h2 {

    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px !important;

}
#warranty_info {

    border: 1px solid #666;
    display: block;
    height: auto;
    text-align: left;
    padding: 10px;
    width: 95%;
    margin-top: -95px;

}
.inline.model_number {

    width: 20% !important;

}
.inline.model_number input {

    max-width: 100px;

}
.inline.quantity input {

    max-width: 50px;

}
#parts_info > div .form-control {
    display: block;
    width: 100%;
    height: 50px;
}
.inline.totals {

    width: 175px !important;
    float: right;
    text-align: left;

}
.inline.quantity {

    width: 50px !important;

}
#parts_info .fa.fa-close {

    float: right;

}
.form-control.parts_totals {

    border: unset !important;
    box-shadow: unset;
    background-color: #c2c2c2;

}
#labor_info ul {
    list-style: none;
}

::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
element {
}
#labor_info .inline {
    display: inline-block;
    width: auto;
}
#labor_info .inline i {
    float: right;
    font-size: 12px;
}
#labor_info .inline.model_number {
    width: 25% !important;
}
#labor_info .inline.quantity {
    width: 125px !important;
}
#labor_info .fa.fa-close {
    float: right;
}
#labor_info .inline.totals {
    float: right;
    width: 100px !important;
}
.form-control.parts_totals {
    height: 100px !important;
}
.clients .left.inline {
    color: #fff;
}
.exiting_proposals .fa.fa-cog {

    color: #fff;
    font-size: 24px;
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;

}
.exiting_proposals .fa.fa-eye {

    color: #fff;
    font-size: 23px;
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;

}
.exiting_proposals a {

    color: #fff;

}
.form-group input[type="number"] {

    width: 35% !important;
    font-size: 20px;
    height: 36px;

}
#company_name {

    width: 70%;
    margin-right: 20px;
    float: right;

}
#available_parts_info_new {

    display: block !important;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    height: auto;
    width: 97%;

}
.motor img {

    width: 120px;

}
.motor.inline {

    display: inline-block !important;
    width: 20%;
    border: 1px solid #c2c2c2 !important;

}
#company_warranty {

    min-height: 30px;

}
.motor .fa.fa-close {

    float: right;
    vertical-align: top;
    position: relative;
    top: -100px;
    margin-right: 5px;
    background-color: #c2c2c2;
    font-size: 28px;
    padding: 4px;
    border-radius: 4px;
    clear: both !important;
    z-index: 10;

}
.form-group {

    margin-bottom: 11px;
    display: block !important;
    clear: both;
    height: auto;

}
